textarea { float:left; height:200px; width:800px;}
#controls {float:left; clear:both;}
.title {font-size:x-large; color:#007}
.subtitle {font-size:medium; color:#007}
#content {width:800px; margin:10px auto 0px auto}
