<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="assets/javascripts/colors.js"></script>
<script src="http://malsup.github.com/min/jquery.form.min.js"></script>

<style>

</style>
<body class="content">
<div class="alert alert-success alert-dismissable" style="position: fixed; top: 0px; width: 500px;">
    <button type="button" class="close" aria-hidden="true"><span class="glyphicon glyphicon-ok"></span></button>
    <p>Color was saved</p>
</div>
<div class="col">
    <p class="title">Colors</p>

    <p class="subtitle">track themes</p>

    <form id="form" method="post" action="/">
        <div id="gradient"><span id="refresh" class="glyphicon glyphicon-repeat"></span></div>
        <input name="startColor" id="startColor"/>
        <input name="endColor" id="endColor"/>
        <input type="button" class="btn btn-primary navbar-btn" id="save"
               style="  position: relative;top: 50%;transform: translateY(-50%);" value="Save"/>
    </form>
</div>
<div class="col" id="allColors"></div>
</body>
</html>